<%= form_with(model: project) do |form| %>
  <%=show_errors(project)%>
  <ul>
    <% project.errors.each do |error| %>
      <li><%= error.full_message %></li>
    <% end %>
  </ul>
  <div class="field">
    <%= form.label :name,style:"display:none" %>
    <%= form.text_field :name,placeholder:'Name your project' %>
    <hr>
  </div>
  <div class="field">
    <%= form.label :duration,style:"display:none" %>
    <%= form.number_field :duration,placeholder:'Duration ' %>
    <hr>
  </div>
  <div class="field">
    <%= form.label :group_id, class: 'input-group-text' %>
    <%= form.collection_select(:group_id, Group.all.order(:name), :id, :name, {include_blank: true}, {class: 'group-select w-100'}) %>
    <hr>
  </div>
  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>